[submodule "giang063_sims2014"]
	path = giang063_sims2014
	url = git@github.com:gianordoli/giang063_sims2014.git
[submodule "henrc131_sims2014"]
	path = henrc131_sims2014
	url = git@github.com:clhenrick/henrc131_sims2014.git
[submodule "huynh316_sims2014"]
	path = huynh316_sims2014
	url = git@github.com:huynj316/huynh316_sims2014.git
[submodule "mastd863_sims2014"]
	path = mastd863_sims2014
	url = git@github.com:dmtta/mastd863_sims2014.git
[submodule "mab094_sims2014"]
	path = mab094_sims2014
	url = git@github.com:whoisbma/mab094_sims2014.git
[submodule "collb038_sims2014"]
	path = collb038_sims2014
	url = git@github.com:bbcollinsworth/collb038_sims2014.git
[submodule "compagnb_sims2014"]
	path = compagnb_sims2014
	url = git@github.com:compagnb/compagnb_sims2014.git
[submodule "Kolla075-sims2014"]
	path = Kolla075-sims2014
	url = git@github.com:AnnaKolla/Kolla075-sims2014.git
[submodule "florr422_sims2014"]
	path = florr422_sims2014
	url = git@github.com:reginaflores/florr422_sims2014.git
